.navbar-nav .nav-item .nav-link:hover{
color:blue
}

.element {
    padding:200px;
    margin: 10px 20px;
    background-color:brown; !important;
    box-shadow: 10px 4px 8px (red);
}

.costume {
    height: auto;
    max-width: 250px;
    object-fit: cover;
    overflow:hidden;

}

.card {
    max-width: 250px;
    height: auto;
    border-radius: 20px;
    overflow:hidden;

}

.card:hover img {
    transform: scale(1.05);
    transition: trans;
}

.nav-bottom {
    text-decoration: none;
    cursor: default;
}

